In [8]:
sports = ("tennis","cricket","football")
print(sports)
print(type(sports))
print(sports[1])
print(len(sports))

('tennis', 'cricket', 'football')
<class 'tuple'>
cricket
3

In [9]:
my_tuple=("tennis",30,True,"cricket","football")
print(my_tuple[2:5])
print(my_tuple[:4])
print(my_tuple[2:])

(True, 'cricket', 'football')
('tennis', 30, True, 'cricket')
(True, 'cricket', 'football')

In [2]:
leng=("cricket",)
print(leng)
print(type(leng))

('cricket',)
<class 'tuple'>

In [11]:
fruits=("apple","banana","orange")
x=list(fruits)
print(x,type(x))
x[1]="grapes"
y=tuple(x)
print(y,type(y))

['apple', 'banana', 'orange'] <class 'list'>
('apple', 'grapes', 'orange') <class 'tuple'>

In [12]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[1][1])
print(nested_tuple[2][0])

b
True

In [13]:
sports = {"tennis","cricket","football","tennis"}
print(sports)
print(type(sports))
print(len(sports))

{'football', 'tennis', 'cricket'}
<class 'set'>
3

In [14]:
sports = {"tennis","cricket","football"}
sports.add("baseball")
print(sports)

{'football', 'baseball', 'tennis', 'cricket'}

In [15]:
set_1 = {"tennis","cricket","football"}
set_1.add("baseball")

print(set_1)

{'football', 'baseball', 'tennis', 'cricket'}

In [16]:
set_1 = {"tennis","cricket","football"}
set_2 ={"apple", "banana"}
set_1.update(set_2)

print(set_1)

{'football', 'apple', 'banana', 'cricket', 'tennis'}

In [17]:
set_1 = {"tennis","cricket","football"}
list_2 ={"apple", "banana"}

set_1.update(list_2)

print(set_1)

{'football', 'apple', 'banana', 'cricket', 'tennis'}

In [18]:
list_1=[50,60,30,40,50,25,60,30,40]
print(list_1)

x = set(list_1)
print(x)
y=list(x)
y.sort()
print(y)

[50, 60, 30, 40, 50, 25, 60, 30, 40]
{40, 50, 25, 60, 30}
[25, 30, 40, 50, 60]

In [19]:
list_1=[50,60,30,40,50,25,60,30,40]
set_1 = set(list_1)
list_1 = list(set_1)
list_1.sort()
print(list_1)

[25, 30, 40, 50, 60]

In [20]:
x = range(1,7,1)
y = range(1,12,2)
z = range(3,24,4)

print(x,type(x))
print(y)
print(z)

print(z[5])

range(1, 7) <class 'range'>
range(1, 12, 2)
range(3, 24, 4)
23

In [21]:
this_dict = {
    "name":"sugar",
    "weight":"1kg",
    "price":130.20
}

print(this_dict,type(this_dict))
this_dict.update({"expire_date":"jan 2025", "price":150.00})
print(this_dict)
this_dict.pop("price")
print(this_dict)

del this_dict["weight"]
print(this_dict)
this_dict.clear()
print(this_dict)
# del this_dict
# print(this_dict)

{'name': 'sugar', 'weight': '1kg', 'price': 130.2} <class 'dict'>
{'name': 'sugar', 'weight': '1kg', 'price': 150.0, 'expire_date': 'jan 2025'}
{'name': 'sugar', 'weight': '1kg', 'expire_date': 'jan 2025'}
{'name': 'sugar', 'expire_date': 'jan 2025'}
{}

In [22]:
# how to access to item using it keys
print(this_dict.get("weight"))
print(len(this_dict))

this_dict["price"]=144.00
print(this_dict)

this_dict["color"] = "brown"
print(this_dict)

None
0
{'price': 144.0}
{'price': 144.0, 'color': 'brown'}

In [23]:
this_dict = {
    "name":"sugar",
    "weight":"1kg",
    "price":150.20
}

copy_dict=this_dict.copy()
print(copy_dict)

this_dict["price"]=150.35
print(this_dict)

{'name': 'sugar', 'weight': '1kg', 'price': 150.2}
{'name': 'sugar', 'weight': '1kg', 'price': 150.35}

In [24]:
x,y=7,3
print(x / y)
print(x//y)
print(x % y)

2.3333333333333335
2
1

In [25]:
x,y=5,6
print(x is y)

x=5
y=x

print(x is y)

x=5
y=5

print(x is y)

False
True
True

In [26]:
x = 5 
y = 10

z = x&y
print(z)

0

In [27]:
n = 16

if n % 2 == 0 :
    print("n is even")
else:
    print("n is odd")

n is even

In [28]:
first_list = [1,"oshan",10,True,False]

if len(first_list) == 0:
    print("empty")
else:
    print("not empty")

not empty

In [31]:
PI_Value = 3.14
r = 7
if r <= 0:
    print("r should be positive.")
else:
    circumference = 2 * PI_Value * r
    print("The circumference of the circle is: {circumference}")

The circumference of the circle is: {circumference}

In [41]:
a = 3
b = 4

if a <= 0 or b <= 0:
    print("a and b should be positive.")    
else:
    hypotenuse = (a**2 + b**2)**0.5
    print(f"The hypotenuse of the triangle is: {hypotenuse}")

The hypotenuse of the triangle is: 5.0