In [2]:
def add_number(a,b):
    return a+b
print(add_number(8,9))

17

In [ ]:
# Q1) answer

def count_even_numbers(my_list):
    count = 0
    for number in my_list:
        if number % 2 == 0:
            count += 1
    return count
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(count_even_numbers(my_list))

5

In [ ]:
# Q2) answer

def find_max(lst):
    max_value = lst[0]
    for number in lst:
        if number > max_value:
            max_value = number
    return max_value
lst = [4,6,2,9,22,15,25]
print(find_max(lst))

25

In [12]:
# Q3) answer

def remove_duplicates(lst):
    non_duplicate_values = []
    for item in lst:
        if item not in non_duplicate_values:
            non_duplicate_values.append(item)
    return non_duplicate_values 
lst = [4,5,5,6,6,7,2,1,1]
print(remove_duplicates(lst))

[4, 5, 6, 7, 2, 1]

In [ ]:
# Q5) answer

def factorial(n):
    result = 1
    for i in range( 1,n + 1):
        result *= i
    return result

print(factorial(5))

1

In [28]:
def add_numbers(a,b=8):
    return a +b 

print(add_numbers(9,6))
print(add_numbers(9))

15
17

In [30]:
# Q5) answer

def power(number, exponent=2):
    return number ** exponent

print(power(3, 4))
print(power(5))

81
25

In [31]:
def display_numbers(a,b):
    print("a:", a)
    print("b:", b)

display_numbers(b=5,a=10)
display_numbers(a=4,b=8)

a: 10
b: 5
a: 4
b: 8

In [38]:
# Q6) answer

def net_salary(base,bonus=0,tax=10/100):
    with_bonus_salary = base + bonus
    net_salary = with_bonus_salary - (with_bonus_salary*tax)
    return net_salary
print(net_salary(10000))
print(net_salary(10000,5000))
print(net_salary(10000, tax=0.15))

9000.0
13500.0
8500.0

In [ ]:
def arbitary_positional(*args):
    print(args)
    print(type(args))

arbitary_positional(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [42]:
def arbitary_positional(*args):
    print(args)
    print(type(args))

    for arg in args:
        print(arg)

arbitary_positional(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)
<class 'tuple'>
1
2
3
4
5

In [ ]:
# arbitrary positiunal

def multiply_all(*args):
    result = 1
    for arg in args:
        result *= arg
    return result

print(multiply_all(1, 2, 3, 4, 5))
print(multiply_all())

120
1

In [55]:
dict = {
    "name": "John",
    "age": 28,
    "city": "colombo"
}

for key in dict.keys():
    print(key)

for value in dict.values():
    print(value)

for key, value in dict.items():
    print("key:",key,", value:" ,value)

name
age
city
John
28
colombo
key: name , value: John
key: age , value: 28
key: city , value: colombo

In [64]:
# arbitrary keyword arguments(**kwargs)
 
def arbitrary_keyword_arguments(**kwargs):
    print(kwargs)
    print(type(kwargs))

    for key, value in kwargs.items():
        print(key,":", value)

arbitrary_keyword_arguments(name="John", age=28, city="Colombo")

{'name': 'John', 'age': 28, 'city': 'Colombo'}
<class 'dict'>
name : John
age : 28
city : Colombo

In [ ]:
# Q7) answer

def add_students(**kwargs):
    students = {}
    for key, value in kwargs.items():
        students[key] = value
    return students

def display_students(students):
    for key, value in students.items():
        print(key ,":", value)

students = add_students(S01="Oshan", S02="Vihana", S03="Nomin", S04="Dumindu", S05="Jaga")
display_students(students)

S01 : Oshan
S02 : Vihana
S03 : Nomin
S04 : Dumindu
S05 : Jaga

In [ ]:
# Map function example

def find_square(x):
    return x**2

my_list = [6,5,3,4,8]
square_values = map(find_square, my_list)
print(list(square_values))

[36, 25, 9, 16, 64]

In [ ]:
# Q8) answer

# sir solution
def convert(celcius):
    fahrenheit= (celcius * 9/5) + 32
    return fahrenheit

def convert_to_fahrenheit(celcius_values):
    fahrenheit_values = list(map(convert, celcius_values))
    return fahrenheit_values

celsius_values = [0, 20, 37, 100, -10]
print(convert_to_fahrenheit(celsius_values))

# My solution

# def temperature_conversion(celsius):
#     return (celsius * 9/5) + 32
# celsius_values = [0, 20, 37, 100,-10]
# fahrenheit_values = map(temperature_conversion, celsius_values)
# print(list(fahrenheit_values))

[32.0, 68.0, 98.6, 212.0, 14.0]

In [ ]:
# filter function example

my_list = [1,2,3,4,5,6,7,8,9,10]

def is_even(number):
    return number % 2 == 0
even_numbers = filter(is_even,my_list)
print(list(even_numbers))

[2, 4, 6, 8, 10]

In [89]:
# Lambda function example

add = lambda x,y: x + y
print(add(4,3))

# variable ekta assign nokra directly call krla
print((lambda x,y: x + y)(4,3))

7
7

In [ ]:
# Q9) answer

my_list = [2, 3, 4, 5]
double_numbers = list(map(lambda x: x * 2, my_list))
print(double_numbers)

[4, 6, 8, 10]

In [ ]:
# Q10) answer

numbers = [12,18,17,15,22,23,16]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[12, 18, 22, 16]

In [95]:
# Q11) answer

largest = lambda x, y: x if x > y else y
print(largest(10, 20))

20